<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>timebusker</title>
</head>
<body style="background-color:#97f77d">
<table rules="rows" style="align-content: center;text-align: center;width: 60%;height:300px;margin-top: 10%;margin-left:20%;border-radius: 20px;">
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free0">字符串常用内建函数</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free1">freemarker取值，插值,并做复制判断</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free2">freemarker实现遍历list集合</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free3">freemarker遍历map集合</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free4">if表达式,自定义函数</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free5">自定义指令</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free6">freemarker内建函数</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/free7">macro,nested,return:实战demo</a></td>
    </tr>
    <tr style="height: auto;width: 100%">
        <td width="100%"><a href="/entity">数据对象绑定</a></td>
    </tr>
</table>
</body>
</html>