<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%msg%n</pattern>
			</encoder>
		</appender>
		<root level="info">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
</configuration>
