*[data-emoji~="sunny"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat 0px 0px;
}
emoji[data-emoji~="sunny"]{
background-position:-7px -7px;
}
*[data-emoji~="umbrella"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -38px 0px;
}
emoji[data-emoji~="umbrella"]{
background-position:-45px -7px;
}
*[data-emoji~="cloud"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -76px 0px;
}
emoji[data-emoji~="cloud"]{
background-position:-83px -7px;
}
*[data-emoji~="snowflake"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -114px 0px;
}
emoji[data-emoji~="snowflake"]{
background-position:-121px -7px;
}
*[data-emoji~="snowman"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -152px 0px;
}
emoji[data-emoji~="snowman"]{
background-position:-159px -7px;
}
*[data-emoji~="zap"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -190px 0px;
}
emoji[data-emoji~="zap"]{
background-position:-197px -7px;
}
*[data-emoji~="cyclone"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -228px 0px;
}
emoji[data-emoji~="cyclone"]{
background-position:-235px -7px;
}
*[data-emoji~="foggy"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -266px 0px;
}
emoji[data-emoji~="foggy"]{
background-position:-273px -7px;
}
*[data-emoji~="ocean"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -304px 0px;
}
emoji[data-emoji~="ocean"]{
background-position:-311px -7px;
}
*[data-emoji~="cat"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -342px 0px;
}
emoji[data-emoji~="cat"]{
background-position:-349px -7px;
}
*[data-emoji~="dog"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -380px 0px;
}
emoji[data-emoji~="dog"]{
background-position:-387px -7px;
}
*[data-emoji~="mouse"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -418px 0px;
}
emoji[data-emoji~="mouse"]{
background-position:-425px -7px;
}
*[data-emoji~="hamster"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -456px 0px;
}
emoji[data-emoji~="hamster"]{
background-position:-463px -7px;
}
*[data-emoji~="rabbit"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -494px 0px;
}
emoji[data-emoji~="rabbit"]{
background-position:-501px -7px;
}
*[data-emoji~="wolf"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -532px 0px;
}
emoji[data-emoji~="wolf"]{
background-position:-539px -7px;
}
*[data-emoji~="frog"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -570px 0px;
}
emoji[data-emoji~="frog"]{
background-position:-577px -7px;
}
*[data-emoji~="tiger"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -608px 0px;
}
emoji[data-emoji~="tiger"]{
background-position:-615px -7px;
}
*[data-emoji~="koala"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -646px 0px;
}
emoji[data-emoji~="koala"]{
background-position:-653px -7px;
}
*[data-emoji~="bear"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -684px 0px;
}
emoji[data-emoji~="bear"]{
background-position:-691px -7px;
}
*[data-emoji~="pig"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -722px 0px;
}
emoji[data-emoji~="pig"]{
background-position:-729px -7px;
}
*[data-emoji~="pig_nose"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat 0px -36px;
}
emoji[data-emoji~="pig_nose"]{
background-position:-7px -43px;
}
*[data-emoji~="cow"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -38px -36px;
}
emoji[data-emoji~="cow"]{
background-position:-45px -43px;
}
*[data-emoji~="boar"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -76px -36px;
}
emoji[data-emoji~="boar"]{
background-position:-83px -43px;
}
*[data-emoji~="monkey_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -114px -36px;
}
emoji[data-emoji~="monkey_face"]{
background-position:-121px -43px;
}
*[data-emoji~="monkey"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -152px -36px;
}
emoji[data-emoji~="monkey"]{
background-position:-159px -43px;
}
*[data-emoji~="horse"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -190px -36px;
}
emoji[data-emoji~="horse"]{
background-position:-197px -43px;
}
*[data-emoji~="racehorse"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -228px -36px;
}
emoji[data-emoji~="racehorse"]{
background-position:-235px -43px;
}
*[data-emoji~="camel"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -266px -36px;
}
emoji[data-emoji~="camel"]{
background-position:-273px -43px;
}
*[data-emoji~="sheep"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -304px -36px;
}
emoji[data-emoji~="sheep"]{
background-position:-311px -43px;
}
*[data-emoji~="elephant"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -342px -36px;
}
emoji[data-emoji~="elephant"]{
background-position:-349px -43px;
}
*[data-emoji~="panda_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -380px -36px;
}
emoji[data-emoji~="panda_face"]{
background-position:-387px -43px;
}
*[data-emoji~="snake"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -418px -36px;
}
emoji[data-emoji~="snake"]{
background-position:-425px -43px;
}
*[data-emoji~="bird"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -456px -36px;
}
emoji[data-emoji~="bird"]{
background-position:-463px -43px;
}
*[data-emoji~="baby_chick"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -494px -36px;
}
emoji[data-emoji~="baby_chick"]{
background-position:-501px -43px;
}
*[data-emoji~="hatched_chick"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -532px -36px;
}
emoji[data-emoji~="hatched_chick"]{
background-position:-539px -43px;
}
*[data-emoji~="hatching_chick"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -570px -36px;
}
emoji[data-emoji~="hatching_chick"]{
background-position:-577px -43px;
}
*[data-emoji~="chicken"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -608px -36px;
}
emoji[data-emoji~="chicken"]{
background-position:-615px -43px;
}
*[data-emoji~="penguin"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -646px -36px;
}
emoji[data-emoji~="penguin"]{
background-position:-653px -43px;
}
*[data-emoji~="turtle"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -684px -36px;
}
emoji[data-emoji~="turtle"]{
background-position:-691px -43px;
}
*[data-emoji~="bug"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -722px -36px;
}
emoji[data-emoji~="bug"]{
background-position:-729px -43px;
}
*[data-emoji~="honeybee"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat 0px -72px;
}
emoji[data-emoji~="honeybee"]{
background-position:-7px -79px;
}
*[data-emoji~="ant"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -38px -72px;
}
emoji[data-emoji~="ant"]{
background-position:-45px -79px;
}
*[data-emoji~="beetle"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -76px -72px;
}
emoji[data-emoji~="beetle"]{
background-position:-83px -79px;
}
*[data-emoji~="snail"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -114px -72px;
}
emoji[data-emoji~="snail"]{
background-position:-121px -79px;
}
*[data-emoji~="octopus"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -152px -72px;
}
emoji[data-emoji~="octopus"]{
background-position:-159px -79px;
}
*[data-emoji~="tropical_fish"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -190px -72px;
}
emoji[data-emoji~="tropical_fish"]{
background-position:-197px -79px;
}
*[data-emoji~="fish"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -228px -72px;
}
emoji[data-emoji~="fish"]{
background-position:-235px -79px;
}
*[data-emoji~="whale"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -266px -72px;
}
emoji[data-emoji~="whale"]{
background-position:-273px -79px;
}
*[data-emoji~="whale2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -304px -72px;
}
emoji[data-emoji~="whale2"]{
background-position:-311px -79px;
}
*[data-emoji~="dolphin"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -342px -72px;
}
emoji[data-emoji~="dolphin"]{
background-position:-349px -79px;
}
*[data-emoji~="cow2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -380px -72px;
}
emoji[data-emoji~="cow2"]{
background-position:-387px -79px;
}
*[data-emoji~="ram"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -418px -72px;
}
emoji[data-emoji~="ram"]{
background-position:-425px -79px;
}
*[data-emoji~="rat"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -456px -72px;
}
emoji[data-emoji~="rat"]{
background-position:-463px -79px;
}
*[data-emoji~="water_buffalo"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -494px -72px;
}
emoji[data-emoji~="water_buffalo"]{
background-position:-501px -79px;
}
*[data-emoji~="tiger2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -532px -72px;
}
emoji[data-emoji~="tiger2"]{
background-position:-539px -79px;
}
*[data-emoji~="rabbit2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -570px -72px;
}
emoji[data-emoji~="rabbit2"]{
background-position:-577px -79px;
}
*[data-emoji~="dragon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -608px -72px;
}
emoji[data-emoji~="dragon"]{
background-position:-615px -79px;
}
*[data-emoji~="goat"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -646px -72px;
}
emoji[data-emoji~="goat"]{
background-position:-653px -79px;
}
*[data-emoji~="rooster"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -684px -72px;
}
emoji[data-emoji~="rooster"]{
background-position:-691px -79px;
}
*[data-emoji~="dog2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -722px -72px;
}
emoji[data-emoji~="dog2"]{
background-position:-729px -79px;
}
*[data-emoji~="pig2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat 0px -108px;
}
emoji[data-emoji~="pig2"]{
background-position:-7px -115px;
}
*[data-emoji~="mouse2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -38px -108px;
}
emoji[data-emoji~="mouse2"]{
background-position:-45px -115px;
}
*[data-emoji~="ox"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -76px -108px;
}
emoji[data-emoji~="ox"]{
background-position:-83px -115px;
}
*[data-emoji~="dragon_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -114px -108px;
}
emoji[data-emoji~="dragon_face"]{
background-position:-121px -115px;
}
*[data-emoji~="blowfish"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -152px -108px;
}
emoji[data-emoji~="blowfish"]{
background-position:-159px -115px;
}
*[data-emoji~="crocodile"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -190px -108px;
}
emoji[data-emoji~="crocodile"]{
background-position:-197px -115px;
}
*[data-emoji~="dromedary_camel"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -228px -108px;
}
emoji[data-emoji~="dromedary_camel"]{
background-position:-235px -115px;
}
*[data-emoji~="leopard"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -266px -108px;
}
emoji[data-emoji~="leopard"]{
background-position:-273px -115px;
}
*[data-emoji~="cat2"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -304px -108px;
}
emoji[data-emoji~="cat2"]{
background-position:-311px -115px;
}
*[data-emoji~="poodle"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -342px -108px;
}
emoji[data-emoji~="poodle"]{
background-position:-349px -115px;
}
*[data-emoji~="paw_prints"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -380px -108px;
}
emoji[data-emoji~="paw_prints"]{
background-position:-387px -115px;
}
*[data-emoji~="bouquet"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -418px -108px;
}
emoji[data-emoji~="bouquet"]{
background-position:-425px -115px;
}
*[data-emoji~="cherry_blossom"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -456px -108px;
}
emoji[data-emoji~="cherry_blossom"]{
background-position:-463px -115px;
}
*[data-emoji~="tulip"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -494px -108px;
}
emoji[data-emoji~="tulip"]{
background-position:-501px -115px;
}
*[data-emoji~="four_leaf_clover"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -532px -108px;
}
emoji[data-emoji~="four_leaf_clover"]{
background-position:-539px -115px;
}
*[data-emoji~="rose"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -570px -108px;
}
emoji[data-emoji~="rose"]{
background-position:-577px -115px;
}
*[data-emoji~="sunflower"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -608px -108px;
}
emoji[data-emoji~="sunflower"]{
background-position:-615px -115px;
}
*[data-emoji~="hibiscus"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -646px -108px;
}
emoji[data-emoji~="hibiscus"]{
background-position:-653px -115px;
}
*[data-emoji~="maple_leaf"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -684px -108px;
}
emoji[data-emoji~="maple_leaf"]{
background-position:-691px -115px;
}
*[data-emoji~="leaves"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -722px -108px;
}
emoji[data-emoji~="leaves"]{
background-position:-729px -115px;
}
*[data-emoji~="fallen_leaf"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat 0px -144px;
}
emoji[data-emoji~="fallen_leaf"]{
background-position:-7px -151px;
}
*[data-emoji~="herb"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -38px -144px;
}
emoji[data-emoji~="herb"]{
background-position:-45px -151px;
}
*[data-emoji~="mushroom"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -76px -144px;
}
emoji[data-emoji~="mushroom"]{
background-position:-83px -151px;
}
*[data-emoji~="cactus"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -114px -144px;
}
emoji[data-emoji~="cactus"]{
background-position:-121px -151px;
}
*[data-emoji~="palm_tree"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -152px -144px;
}
emoji[data-emoji~="palm_tree"]{
background-position:-159px -151px;
}
*[data-emoji~="evergreen_tree"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -190px -144px;
}
emoji[data-emoji~="evergreen_tree"]{
background-position:-197px -151px;
}
*[data-emoji~="deciduous_tree"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -228px -144px;
}
emoji[data-emoji~="deciduous_tree"]{
background-position:-235px -151px;
}
*[data-emoji~="chestnut"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -266px -144px;
}
emoji[data-emoji~="chestnut"]{
background-position:-273px -151px;
}
*[data-emoji~="seedling"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -304px -144px;
}
emoji[data-emoji~="seedling"]{
background-position:-311px -151px;
}
*[data-emoji~="blossom"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -342px -144px;
}
emoji[data-emoji~="blossom"]{
background-position:-349px -151px;
}
*[data-emoji~="ear_of_rice"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -380px -144px;
}
emoji[data-emoji~="ear_of_rice"]{
background-position:-387px -151px;
}
*[data-emoji~="shell"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -418px -144px;
}
emoji[data-emoji~="shell"]{
background-position:-425px -151px;
}
*[data-emoji~="globe_with_meridians"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -456px -144px;
}
emoji[data-emoji~="globe_with_meridians"]{
background-position:-463px -151px;
}
*[data-emoji~="sun_with_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -494px -144px;
}
emoji[data-emoji~="sun_with_face"]{
background-position:-501px -151px;
}
*[data-emoji~="full_moon_with_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -532px -144px;
}
emoji[data-emoji~="full_moon_with_face"]{
background-position:-539px -151px;
}
*[data-emoji~="new_moon_with_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -570px -144px;
}
emoji[data-emoji~="new_moon_with_face"]{
background-position:-577px -151px;
}
*[data-emoji~="new_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -608px -144px;
}
emoji[data-emoji~="new_moon"]{
background-position:-615px -151px;
}
*[data-emoji~="waxing_crescent_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -646px -144px;
}
emoji[data-emoji~="waxing_crescent_moon"]{
background-position:-653px -151px;
}
*[data-emoji~="first_quarter_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -684px -144px;
}
emoji[data-emoji~="first_quarter_moon"]{
background-position:-691px -151px;
}
*[data-emoji~="waxing_gibbous_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -722px -144px;
}
emoji[data-emoji~="waxing_gibbous_moon"]{
background-position:-729px -151px;
}
*[data-emoji~="full_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat 0px -180px;
}
emoji[data-emoji~="full_moon"]{
background-position:-7px -187px;
}
*[data-emoji~="waning_gibbous_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -38px -180px;
}
emoji[data-emoji~="waning_gibbous_moon"]{
background-position:-45px -187px;
}
*[data-emoji~="last_quarter_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -76px -180px;
}
emoji[data-emoji~="last_quarter_moon"]{
background-position:-83px -187px;
}
*[data-emoji~="waning_crescent_moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -114px -180px;
}
emoji[data-emoji~="waning_crescent_moon"]{
background-position:-121px -187px;
}
*[data-emoji~="last_quarter_moon_with_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -152px -180px;
}
emoji[data-emoji~="last_quarter_moon_with_face"]{
background-position:-159px -187px;
}
*[data-emoji~="first_quarter_moon_with_face"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -190px -180px;
}
emoji[data-emoji~="first_quarter_moon_with_face"]{
background-position:-197px -187px;
}
*[data-emoji~="moon"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -228px -180px;
}
emoji[data-emoji~="moon"]{
background-position:-235px -187px;
}
*[data-emoji~="earth_africa"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -266px -180px;
}
emoji[data-emoji~="earth_africa"]{
background-position:-273px -187px;
}
*[data-emoji~="earth_americas"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -304px -180px;
}
emoji[data-emoji~="earth_americas"]{
background-position:-311px -187px;
}
*[data-emoji~="earth_asia"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -342px -180px;
}
emoji[data-emoji~="earth_asia"]{
background-position:-349px -187px;
}
*[data-emoji~="volcano"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -380px -180px;
}
emoji[data-emoji~="volcano"]{
background-position:-387px -187px;
}
*[data-emoji~="milky_way"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -418px -180px;
}
emoji[data-emoji~="milky_way"]{
background-position:-425px -187px;
}
*[data-emoji~="partly_sunny"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -456px -180px;
}
emoji[data-emoji~="partly_sunny"]{
background-position:-463px -187px;
}
*[data-emoji~="octocat"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -494px -180px;
}
emoji[data-emoji~="octocat"]{
background-position:-501px -187px;
}
*[data-emoji~="squirrel"]{
background: rgba(0,0,0,0) url(../images/emoji/nature.png) no-repeat -532px -180px;
}
emoji[data-emoji~="squirrel"]{
background-position:-539px -187px;
}

