*[data-emoji~="bamboo"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px 0px;
}
emoji[data-emoji~="bamboo"]{
background-position:-7px -7px;
}
*[data-emoji~="gift_heart"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px 0px;
}
emoji[data-emoji~="gift_heart"]{
background-position:-45px -7px;
}
*[data-emoji~="dolls"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px 0px;
}
emoji[data-emoji~="dolls"]{
background-position:-83px -7px;
}
*[data-emoji~="school_satchel"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px 0px;
}
emoji[data-emoji~="school_satchel"]{
background-position:-121px -7px;
}
*[data-emoji~="mortar_board"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px 0px;
}
emoji[data-emoji~="mortar_board"]{
background-position:-159px -7px;
}
*[data-emoji~="flags"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px 0px;
}
emoji[data-emoji~="flags"]{
background-position:-197px -7px;
}
*[data-emoji~="fireworks"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px 0px;
}
emoji[data-emoji~="fireworks"]{
background-position:-235px -7px;
}
*[data-emoji~="sparkler"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px 0px;
}
emoji[data-emoji~="sparkler"]{
background-position:-273px -7px;
}
*[data-emoji~="wind_chime"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px 0px;
}
emoji[data-emoji~="wind_chime"]{
background-position:-311px -7px;
}
*[data-emoji~="rice_scene"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px 0px;
}
emoji[data-emoji~="rice_scene"]{
background-position:-349px -7px;
}
*[data-emoji~="jack_o_lantern"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px 0px;
}
emoji[data-emoji~="jack_o_lantern"]{
background-position:-387px -7px;
}
*[data-emoji~="ghost"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px 0px;
}
emoji[data-emoji~="ghost"]{
background-position:-425px -7px;
}
*[data-emoji~="santa"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px 0px;
}
emoji[data-emoji~="santa"]{
background-position:-463px -7px;
}
*[data-emoji~="christmas_tree"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px 0px;
}
emoji[data-emoji~="christmas_tree"]{
background-position:-501px -7px;
}
*[data-emoji~="gift"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px 0px;
}
emoji[data-emoji~="gift"]{
background-position:-539px -7px;
}
*[data-emoji~="bell"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px 0px;
}
emoji[data-emoji~="bell"]{
background-position:-577px -7px;
}
*[data-emoji~="no_bell"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px 0px;
}
emoji[data-emoji~="no_bell"]{
background-position:-615px -7px;
}
*[data-emoji~="tanabata_tree"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px 0px;
}
emoji[data-emoji~="tanabata_tree"]{
background-position:-653px -7px;
}
*[data-emoji~="tada"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px 0px;
}
emoji[data-emoji~="tada"]{
background-position:-691px -7px;
}
*[data-emoji~="confetti_ball"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px 0px;
}
emoji[data-emoji~="confetti_ball"]{
background-position:-729px -7px;
}
*[data-emoji~="balloon"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -36px;
}
emoji[data-emoji~="balloon"]{
background-position:-7px -43px;
}
*[data-emoji~="crystal_ball"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -36px;
}
emoji[data-emoji~="crystal_ball"]{
background-position:-45px -43px;
}
*[data-emoji~="cd"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -36px;
}
emoji[data-emoji~="cd"]{
background-position:-83px -43px;
}
*[data-emoji~="dvd"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -36px;
}
emoji[data-emoji~="dvd"]{
background-position:-121px -43px;
}
*[data-emoji~="floppy_disk"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -36px;
}
emoji[data-emoji~="floppy_disk"]{
background-position:-159px -43px;
}
*[data-emoji~="camera"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -36px;
}
emoji[data-emoji~="camera"]{
background-position:-197px -43px;
}
*[data-emoji~="video_camera"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -36px;
}
emoji[data-emoji~="video_camera"]{
background-position:-235px -43px;
}
*[data-emoji~="movie_camera"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -36px;
}
emoji[data-emoji~="movie_camera"]{
background-position:-273px -43px;
}
*[data-emoji~="computer"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -36px;
}
emoji[data-emoji~="computer"]{
background-position:-311px -43px;
}
*[data-emoji~="tv"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -36px;
}
emoji[data-emoji~="tv"]{
background-position:-349px -43px;
}
*[data-emoji~="iphone"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -36px;
}
emoji[data-emoji~="iphone"]{
background-position:-387px -43px;
}
*[data-emoji~="phone"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -36px;
}
emoji[data-emoji~="phone"]{
background-position:-425px -43px;
}
*[data-emoji~="telephone"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -36px;
}
emoji[data-emoji~="telephone"]{
background-position:-463px -43px;
}
*[data-emoji~="telephone_receiver"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -36px;
}
emoji[data-emoji~="telephone_receiver"]{
background-position:-501px -43px;
}
*[data-emoji~="pager"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -36px;
}
emoji[data-emoji~="pager"]{
background-position:-539px -43px;
}
*[data-emoji~="fax"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -36px;
}
emoji[data-emoji~="fax"]{
background-position:-577px -43px;
}
*[data-emoji~="minidisc"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -36px;
}
emoji[data-emoji~="minidisc"]{
background-position:-615px -43px;
}
*[data-emoji~="vhs"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -36px;
}
emoji[data-emoji~="vhs"]{
background-position:-653px -43px;
}
*[data-emoji~="sound"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -36px;
}
emoji[data-emoji~="sound"]{
background-position:-691px -43px;
}
*[data-emoji~="speaker"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -36px;
}
emoji[data-emoji~="speaker"]{
background-position:-729px -43px;
}
*[data-emoji~="mute"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -72px;
}
emoji[data-emoji~="mute"]{
background-position:-7px -79px;
}
*[data-emoji~="loudspeaker"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -72px;
}
emoji[data-emoji~="loudspeaker"]{
background-position:-45px -79px;
}
*[data-emoji~="mega"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -72px;
}
emoji[data-emoji~="mega"]{
background-position:-83px -79px;
}
*[data-emoji~="hourglass"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -72px;
}
emoji[data-emoji~="hourglass"]{
background-position:-121px -79px;
}
*[data-emoji~="hourglass_flowing_sand"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -72px;
}
emoji[data-emoji~="hourglass_flowing_sand"]{
background-position:-159px -79px;
}
*[data-emoji~="alarm_clock"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -72px;
}
emoji[data-emoji~="alarm_clock"]{
background-position:-197px -79px;
}
*[data-emoji~="watch"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -72px;
}
emoji[data-emoji~="watch"]{
background-position:-235px -79px;
}
*[data-emoji~="radio"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -72px;
}
emoji[data-emoji~="radio"]{
background-position:-273px -79px;
}
*[data-emoji~="satellite"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -72px;
}
emoji[data-emoji~="satellite"]{
background-position:-311px -79px;
}
*[data-emoji~="loop"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -72px;
}
emoji[data-emoji~="loop"]{
background-position:-349px -79px;
}
*[data-emoji~="mag"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -72px;
}
emoji[data-emoji~="mag"]{
background-position:-387px -79px;
}
*[data-emoji~="mag_right"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -72px;
}
emoji[data-emoji~="mag_right"]{
background-position:-425px -79px;
}
*[data-emoji~="unlock"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -72px;
}
emoji[data-emoji~="unlock"]{
background-position:-463px -79px;
}
*[data-emoji~="lock"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -72px;
}
emoji[data-emoji~="lock"]{
background-position:-501px -79px;
}
*[data-emoji~="lock_with_ink_pen"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -72px;
}
emoji[data-emoji~="lock_with_ink_pen"]{
background-position:-539px -79px;
}
*[data-emoji~="closed_lock_with_key"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -72px;
}
emoji[data-emoji~="closed_lock_with_key"]{
background-position:-577px -79px;
}
*[data-emoji~="key"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -72px;
}
emoji[data-emoji~="key"]{
background-position:-615px -79px;
}
*[data-emoji~="bulb"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -72px;
}
emoji[data-emoji~="bulb"]{
background-position:-653px -79px;
}
*[data-emoji~="flashlight"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -72px;
}
emoji[data-emoji~="flashlight"]{
background-position:-691px -79px;
}
*[data-emoji~="high_brightness"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -72px;
}
emoji[data-emoji~="high_brightness"]{
background-position:-729px -79px;
}
*[data-emoji~="low_brightness"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -108px;
}
emoji[data-emoji~="low_brightness"]{
background-position:-7px -115px;
}
*[data-emoji~="electric_plug"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -108px;
}
emoji[data-emoji~="electric_plug"]{
background-position:-45px -115px;
}
*[data-emoji~="battery"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -108px;
}
emoji[data-emoji~="battery"]{
background-position:-83px -115px;
}
*[data-emoji~="calling"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -108px;
}
emoji[data-emoji~="calling"]{
background-position:-121px -115px;
}
*[data-emoji~="email"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -108px;
}
emoji[data-emoji~="email"]{
background-position:-159px -115px;
}
*[data-emoji~="mailbox"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -108px;
}
emoji[data-emoji~="mailbox"]{
background-position:-197px -115px;
}
*[data-emoji~="postbox"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -108px;
}
emoji[data-emoji~="postbox"]{
background-position:-235px -115px;
}
*[data-emoji~="bath"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -108px;
}
emoji[data-emoji~="bath"]{
background-position:-273px -115px;
}
*[data-emoji~="bathtub"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -108px;
}
emoji[data-emoji~="bathtub"]{
background-position:-311px -115px;
}
*[data-emoji~="shower"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -108px;
}
emoji[data-emoji~="shower"]{
background-position:-349px -115px;
}
*[data-emoji~="toilet"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -108px;
}
emoji[data-emoji~="toilet"]{
background-position:-387px -115px;
}
*[data-emoji~="wrench"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -108px;
}
emoji[data-emoji~="wrench"]{
background-position:-425px -115px;
}
*[data-emoji~="nut_and_bolt"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -108px;
}
emoji[data-emoji~="nut_and_bolt"]{
background-position:-463px -115px;
}
*[data-emoji~="hammer"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -108px;
}
emoji[data-emoji~="hammer"]{
background-position:-501px -115px;
}
*[data-emoji~="seat"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -108px;
}
emoji[data-emoji~="seat"]{
background-position:-539px -115px;
}
*[data-emoji~="moneybag"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -108px;
}
emoji[data-emoji~="moneybag"]{
background-position:-577px -115px;
}
*[data-emoji~="yen"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -108px;
}
emoji[data-emoji~="yen"]{
background-position:-615px -115px;
}
*[data-emoji~="dollar"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -108px;
}
emoji[data-emoji~="dollar"]{
background-position:-653px -115px;
}
*[data-emoji~="pound"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -108px;
}
emoji[data-emoji~="pound"]{
background-position:-691px -115px;
}
*[data-emoji~="euro"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -108px;
}
emoji[data-emoji~="euro"]{
background-position:-729px -115px;
}
*[data-emoji~="credit_card"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -144px;
}
emoji[data-emoji~="credit_card"]{
background-position:-7px -151px;
}
*[data-emoji~="money_with_wings"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -144px;
}
emoji[data-emoji~="money_with_wings"]{
background-position:-45px -151px;
}
*[data-emoji~="e-mail"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -144px;
}
emoji[data-emoji~="e-mail"]{
background-position:-83px -151px;
}
*[data-emoji~="inbox_tray"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -144px;
}
emoji[data-emoji~="inbox_tray"]{
background-position:-121px -151px;
}
*[data-emoji~="outbox_tray"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -144px;
}
emoji[data-emoji~="outbox_tray"]{
background-position:-159px -151px;
}
*[data-emoji~="envelope"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -144px;
}
emoji[data-emoji~="envelope"]{
background-position:-197px -151px;
}
*[data-emoji~="incoming_envelope"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -144px;
}
emoji[data-emoji~="incoming_envelope"]{
background-position:-235px -151px;
}
*[data-emoji~="postal_horn"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -144px;
}
emoji[data-emoji~="postal_horn"]{
background-position:-273px -151px;
}
*[data-emoji~="mailbox_closed"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -144px;
}
emoji[data-emoji~="mailbox_closed"]{
background-position:-311px -151px;
}
*[data-emoji~="mailbox_with_mail"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -144px;
}
emoji[data-emoji~="mailbox_with_mail"]{
background-position:-349px -151px;
}
*[data-emoji~="mailbox_with_no_mail"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -144px;
}
emoji[data-emoji~="mailbox_with_no_mail"]{
background-position:-387px -151px;
}
*[data-emoji~="package"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -144px;
}
emoji[data-emoji~="package"]{
background-position:-425px -151px;
}
*[data-emoji~="door"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -144px;
}
emoji[data-emoji~="door"]{
background-position:-463px -151px;
}
*[data-emoji~="smoking"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -144px;
}
emoji[data-emoji~="smoking"]{
background-position:-501px -151px;
}
*[data-emoji~="bomb"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -144px;
}
emoji[data-emoji~="bomb"]{
background-position:-539px -151px;
}
*[data-emoji~="gun"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -144px;
}
emoji[data-emoji~="gun"]{
background-position:-577px -151px;
}
*[data-emoji~="hocho"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -144px;
}
emoji[data-emoji~="hocho"]{
background-position:-615px -151px;
}
*[data-emoji~="pill"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -144px;
}
emoji[data-emoji~="pill"]{
background-position:-653px -151px;
}
*[data-emoji~="syringe"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -144px;
}
emoji[data-emoji~="syringe"]{
background-position:-691px -151px;
}
*[data-emoji~="page_facing_up"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -144px;
}
emoji[data-emoji~="page_facing_up"]{
background-position:-729px -151px;
}
*[data-emoji~="page_with_curl"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -180px;
}
emoji[data-emoji~="page_with_curl"]{
background-position:-7px -187px;
}
*[data-emoji~="bookmark_tabs"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -180px;
}
emoji[data-emoji~="bookmark_tabs"]{
background-position:-45px -187px;
}
*[data-emoji~="bar_chart"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -180px;
}
emoji[data-emoji~="bar_chart"]{
background-position:-83px -187px;
}
*[data-emoji~="chart_with_upwards_trend"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -180px;
}
emoji[data-emoji~="chart_with_upwards_trend"]{
background-position:-121px -187px;
}
*[data-emoji~="chart_with_downwards_trend"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -180px;
}
emoji[data-emoji~="chart_with_downwards_trend"]{
background-position:-159px -187px;
}
*[data-emoji~="scroll"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -180px;
}
emoji[data-emoji~="scroll"]{
background-position:-197px -187px;
}
*[data-emoji~="clipboard"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -180px;
}
emoji[data-emoji~="clipboard"]{
background-position:-235px -187px;
}
*[data-emoji~="calendar"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -180px;
}
emoji[data-emoji~="calendar"]{
background-position:-273px -187px;
}
*[data-emoji~="date"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -180px;
}
emoji[data-emoji~="date"]{
background-position:-311px -187px;
}
*[data-emoji~="card_index"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -180px;
}
emoji[data-emoji~="card_index"]{
background-position:-349px -187px;
}
*[data-emoji~="file_folder"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -180px;
}
emoji[data-emoji~="file_folder"]{
background-position:-387px -187px;
}
*[data-emoji~="open_file_folder"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -180px;
}
emoji[data-emoji~="open_file_folder"]{
background-position:-425px -187px;
}
*[data-emoji~="scissors"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -180px;
}
emoji[data-emoji~="scissors"]{
background-position:-463px -187px;
}
*[data-emoji~="pushpin"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -180px;
}
emoji[data-emoji~="pushpin"]{
background-position:-501px -187px;
}
*[data-emoji~="paperclip"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -180px;
}
emoji[data-emoji~="paperclip"]{
background-position:-539px -187px;
}
*[data-emoji~="black_nib"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -180px;
}
emoji[data-emoji~="black_nib"]{
background-position:-577px -187px;
}
*[data-emoji~="pencil2"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -180px;
}
emoji[data-emoji~="pencil2"]{
background-position:-615px -187px;
}
*[data-emoji~="straight_ruler"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -180px;
}
emoji[data-emoji~="straight_ruler"]{
background-position:-653px -187px;
}
*[data-emoji~="triangular_ruler"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -180px;
}
emoji[data-emoji~="triangular_ruler"]{
background-position:-691px -187px;
}
*[data-emoji~="closed_book"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -180px;
}
emoji[data-emoji~="closed_book"]{
background-position:-729px -187px;
}
*[data-emoji~="green_book"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -216px;
}
emoji[data-emoji~="green_book"]{
background-position:-7px -223px;
}
*[data-emoji~="blue_book"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -216px;
}
emoji[data-emoji~="blue_book"]{
background-position:-45px -223px;
}
*[data-emoji~="orange_book"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -216px;
}
emoji[data-emoji~="orange_book"]{
background-position:-83px -223px;
}
*[data-emoji~="notebook"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -216px;
}
emoji[data-emoji~="notebook"]{
background-position:-121px -223px;
}
*[data-emoji~="notebook_with_decorative_cover"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -216px;
}
emoji[data-emoji~="notebook_with_decorative_cover"]{
background-position:-159px -223px;
}
*[data-emoji~="ledger"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -216px;
}
emoji[data-emoji~="ledger"]{
background-position:-197px -223px;
}
*[data-emoji~="books"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -216px;
}
emoji[data-emoji~="books"]{
background-position:-235px -223px;
}
*[data-emoji~="bookmark"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -216px;
}
emoji[data-emoji~="bookmark"]{
background-position:-273px -223px;
}
*[data-emoji~="name_badge"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -216px;
}
emoji[data-emoji~="name_badge"]{
background-position:-311px -223px;
}
*[data-emoji~="microscope"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -216px;
}
emoji[data-emoji~="microscope"]{
background-position:-349px -223px;
}
*[data-emoji~="telescope"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -216px;
}
emoji[data-emoji~="telescope"]{
background-position:-387px -223px;
}
*[data-emoji~="newspaper"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -216px;
}
emoji[data-emoji~="newspaper"]{
background-position:-425px -223px;
}
*[data-emoji~="football"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -216px;
}
emoji[data-emoji~="football"]{
background-position:-463px -223px;
}
*[data-emoji~="basketball"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -216px;
}
emoji[data-emoji~="basketball"]{
background-position:-501px -223px;
}
*[data-emoji~="soccer"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -216px;
}
emoji[data-emoji~="soccer"]{
background-position:-539px -223px;
}
*[data-emoji~="baseball"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -216px;
}
emoji[data-emoji~="baseball"]{
background-position:-577px -223px;
}
*[data-emoji~="tennis"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -216px;
}
emoji[data-emoji~="tennis"]{
background-position:-615px -223px;
}
*[data-emoji~="8ball"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -216px;
}
emoji[data-emoji~="8ball"]{
background-position:-653px -223px;
}
*[data-emoji~="rugby_football"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -216px;
}
emoji[data-emoji~="rugby_football"]{
background-position:-691px -223px;
}
*[data-emoji~="bowling"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -216px;
}
emoji[data-emoji~="bowling"]{
background-position:-729px -223px;
}
*[data-emoji~="golf"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -252px;
}
emoji[data-emoji~="golf"]{
background-position:-7px -259px;
}
*[data-emoji~="mountain_bicyclist"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -252px;
}
emoji[data-emoji~="mountain_bicyclist"]{
background-position:-45px -259px;
}
*[data-emoji~="bicyclist"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -252px;
}
emoji[data-emoji~="bicyclist"]{
background-position:-83px -259px;
}
*[data-emoji~="horse_racing"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -252px;
}
emoji[data-emoji~="horse_racing"]{
background-position:-121px -259px;
}
*[data-emoji~="snowboarder"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -252px;
}
emoji[data-emoji~="snowboarder"]{
background-position:-159px -259px;
}
*[data-emoji~="swimmer"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -252px;
}
emoji[data-emoji~="swimmer"]{
background-position:-197px -259px;
}
*[data-emoji~="surfer"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -252px;
}
emoji[data-emoji~="surfer"]{
background-position:-235px -259px;
}
*[data-emoji~="ski"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -252px;
}
emoji[data-emoji~="ski"]{
background-position:-273px -259px;
}
*[data-emoji~="spades"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -252px;
}
emoji[data-emoji~="spades"]{
background-position:-311px -259px;
}
*[data-emoji~="hearts"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -252px;
}
emoji[data-emoji~="hearts"]{
background-position:-349px -259px;
}
*[data-emoji~="clubs"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -252px;
}
emoji[data-emoji~="clubs"]{
background-position:-387px -259px;
}
*[data-emoji~="diamonds"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -252px;
}
emoji[data-emoji~="diamonds"]{
background-position:-425px -259px;
}
*[data-emoji~="gem"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -252px;
}
emoji[data-emoji~="gem"]{
background-position:-463px -259px;
}
*[data-emoji~="ring"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -252px;
}
emoji[data-emoji~="ring"]{
background-position:-501px -259px;
}
*[data-emoji~="trophy"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -252px;
}
emoji[data-emoji~="trophy"]{
background-position:-539px -259px;
}
*[data-emoji~="musical_score"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -252px;
}
emoji[data-emoji~="musical_score"]{
background-position:-577px -259px;
}
*[data-emoji~="musical_keyboard"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -252px;
}
emoji[data-emoji~="musical_keyboard"]{
background-position:-615px -259px;
}
*[data-emoji~="violin"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -252px;
}
emoji[data-emoji~="violin"]{
background-position:-653px -259px;
}
*[data-emoji~="space_invader"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -252px;
}
emoji[data-emoji~="space_invader"]{
background-position:-691px -259px;
}
*[data-emoji~="video_game"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -252px;
}
emoji[data-emoji~="video_game"]{
background-position:-729px -259px;
}
*[data-emoji~="black_joker"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -288px;
}
emoji[data-emoji~="black_joker"]{
background-position:-7px -295px;
}
*[data-emoji~="flower_playing_cards"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -288px;
}
emoji[data-emoji~="flower_playing_cards"]{
background-position:-45px -295px;
}
*[data-emoji~="game_die"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -288px;
}
emoji[data-emoji~="game_die"]{
background-position:-83px -295px;
}
*[data-emoji~="dart"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -288px;
}
emoji[data-emoji~="dart"]{
background-position:-121px -295px;
}
*[data-emoji~="mahjong"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -288px;
}
emoji[data-emoji~="mahjong"]{
background-position:-159px -295px;
}
*[data-emoji~="clapper"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -288px;
}
emoji[data-emoji~="clapper"]{
background-position:-197px -295px;
}
*[data-emoji~="memo"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -288px;
}
emoji[data-emoji~="memo"]{
background-position:-235px -295px;
}
*[data-emoji~="pencil"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -288px;
}
emoji[data-emoji~="pencil"]{
background-position:-273px -295px;
}
*[data-emoji~="book"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -288px;
}
emoji[data-emoji~="book"]{
background-position:-311px -295px;
}
*[data-emoji~="art"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -288px;
}
emoji[data-emoji~="art"]{
background-position:-349px -295px;
}
*[data-emoji~="microphone"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -288px;
}
emoji[data-emoji~="microphone"]{
background-position:-387px -295px;
}
*[data-emoji~="headphones"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -288px;
}
emoji[data-emoji~="headphones"]{
background-position:-425px -295px;
}
*[data-emoji~="trumpet"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -288px;
}
emoji[data-emoji~="trumpet"]{
background-position:-463px -295px;
}
*[data-emoji~="saxophone"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -288px;
}
emoji[data-emoji~="saxophone"]{
background-position:-501px -295px;
}
*[data-emoji~="guitar"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -288px;
}
emoji[data-emoji~="guitar"]{
background-position:-539px -295px;
}
*[data-emoji~="shoe"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -288px;
}
emoji[data-emoji~="shoe"]{
background-position:-577px -295px;
}
*[data-emoji~="sandal"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -288px;
}
emoji[data-emoji~="sandal"]{
background-position:-615px -295px;
}
*[data-emoji~="high_heel"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -288px;
}
emoji[data-emoji~="high_heel"]{
background-position:-653px -295px;
}
*[data-emoji~="lipstick"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -288px;
}
emoji[data-emoji~="lipstick"]{
background-position:-691px -295px;
}
*[data-emoji~="boot"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -288px;
}
emoji[data-emoji~="boot"]{
background-position:-729px -295px;
}
*[data-emoji~="shirt"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -324px;
}
emoji[data-emoji~="shirt"]{
background-position:-7px -331px;
}
*[data-emoji~="tshirt"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -324px;
}
emoji[data-emoji~="tshirt"]{
background-position:-45px -331px;
}
*[data-emoji~="necktie"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -324px;
}
emoji[data-emoji~="necktie"]{
background-position:-83px -331px;
}
*[data-emoji~="womans_clothes"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -324px;
}
emoji[data-emoji~="womans_clothes"]{
background-position:-121px -331px;
}
*[data-emoji~="dress"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -324px;
}
emoji[data-emoji~="dress"]{
background-position:-159px -331px;
}
*[data-emoji~="running_shirt_with_sash"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -324px;
}
emoji[data-emoji~="running_shirt_with_sash"]{
background-position:-197px -331px;
}
*[data-emoji~="jeans"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -324px;
}
emoji[data-emoji~="jeans"]{
background-position:-235px -331px;
}
*[data-emoji~="kimono"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -324px;
}
emoji[data-emoji~="kimono"]{
background-position:-273px -331px;
}
*[data-emoji~="bikini"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -324px;
}
emoji[data-emoji~="bikini"]{
background-position:-311px -331px;
}
*[data-emoji~="ribbon"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -324px;
}
emoji[data-emoji~="ribbon"]{
background-position:-349px -331px;
}
*[data-emoji~="tophat"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -324px;
}
emoji[data-emoji~="tophat"]{
background-position:-387px -331px;
}
*[data-emoji~="crown"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -324px;
}
emoji[data-emoji~="crown"]{
background-position:-425px -331px;
}
*[data-emoji~="womans_hat"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -324px;
}
emoji[data-emoji~="womans_hat"]{
background-position:-463px -331px;
}
*[data-emoji~="mans_shoe"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -324px;
}
emoji[data-emoji~="mans_shoe"]{
background-position:-501px -331px;
}
*[data-emoji~="closed_umbrella"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -324px;
}
emoji[data-emoji~="closed_umbrella"]{
background-position:-539px -331px;
}
*[data-emoji~="briefcase"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -324px;
}
emoji[data-emoji~="briefcase"]{
background-position:-577px -331px;
}
*[data-emoji~="handbag"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -324px;
}
emoji[data-emoji~="handbag"]{
background-position:-615px -331px;
}
*[data-emoji~="pouch"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -324px;
}
emoji[data-emoji~="pouch"]{
background-position:-653px -331px;
}
*[data-emoji~="purse"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -324px;
}
emoji[data-emoji~="purse"]{
background-position:-691px -331px;
}
*[data-emoji~="eyeglasses"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -324px;
}
emoji[data-emoji~="eyeglasses"]{
background-position:-729px -331px;
}
*[data-emoji~="fishing_pole_and_fish"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -360px;
}
emoji[data-emoji~="fishing_pole_and_fish"]{
background-position:-7px -367px;
}
*[data-emoji~="coffee"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -360px;
}
emoji[data-emoji~="coffee"]{
background-position:-45px -367px;
}
*[data-emoji~="tea"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -360px;
}
emoji[data-emoji~="tea"]{
background-position:-83px -367px;
}
*[data-emoji~="sake"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -360px;
}
emoji[data-emoji~="sake"]{
background-position:-121px -367px;
}
*[data-emoji~="baby_bottle"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -360px;
}
emoji[data-emoji~="baby_bottle"]{
background-position:-159px -367px;
}
*[data-emoji~="beer"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -360px;
}
emoji[data-emoji~="beer"]{
background-position:-197px -367px;
}
*[data-emoji~="beers"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -360px;
}
emoji[data-emoji~="beers"]{
background-position:-235px -367px;
}
*[data-emoji~="cocktail"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -360px;
}
emoji[data-emoji~="cocktail"]{
background-position:-273px -367px;
}
*[data-emoji~="tropical_drink"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -360px;
}
emoji[data-emoji~="tropical_drink"]{
background-position:-311px -367px;
}
*[data-emoji~="wine_glass"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -360px;
}
emoji[data-emoji~="wine_glass"]{
background-position:-349px -367px;
}
*[data-emoji~="fork_and_knife"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -360px;
}
emoji[data-emoji~="fork_and_knife"]{
background-position:-387px -367px;
}
*[data-emoji~="pizza"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -360px;
}
emoji[data-emoji~="pizza"]{
background-position:-425px -367px;
}
*[data-emoji~="hamburger"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -360px;
}
emoji[data-emoji~="hamburger"]{
background-position:-463px -367px;
}
*[data-emoji~="fries"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -360px;
}
emoji[data-emoji~="fries"]{
background-position:-501px -367px;
}
*[data-emoji~="poultry_leg"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -360px;
}
emoji[data-emoji~="poultry_leg"]{
background-position:-539px -367px;
}
*[data-emoji~="meat_on_bone"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -360px;
}
emoji[data-emoji~="meat_on_bone"]{
background-position:-577px -367px;
}
*[data-emoji~="spaghetti"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -360px;
}
emoji[data-emoji~="spaghetti"]{
background-position:-615px -367px;
}
*[data-emoji~="curry"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -360px;
}
emoji[data-emoji~="curry"]{
background-position:-653px -367px;
}
*[data-emoji~="fried_shrimp"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -360px;
}
emoji[data-emoji~="fried_shrimp"]{
background-position:-691px -367px;
}
*[data-emoji~="bento"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -360px;
}
emoji[data-emoji~="bento"]{
background-position:-729px -367px;
}
*[data-emoji~="sushi"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -396px;
}
emoji[data-emoji~="sushi"]{
background-position:-7px -403px;
}
*[data-emoji~="fish_cake"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -396px;
}
emoji[data-emoji~="fish_cake"]{
background-position:-45px -403px;
}
*[data-emoji~="rice_ball"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -396px;
}
emoji[data-emoji~="rice_ball"]{
background-position:-83px -403px;
}
*[data-emoji~="rice_cracker"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -396px;
}
emoji[data-emoji~="rice_cracker"]{
background-position:-121px -403px;
}
*[data-emoji~="rice"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -396px;
}
emoji[data-emoji~="rice"]{
background-position:-159px -403px;
}
*[data-emoji~="ramen"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -396px;
}
emoji[data-emoji~="ramen"]{
background-position:-197px -403px;
}
*[data-emoji~="stew"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -396px;
}
emoji[data-emoji~="stew"]{
background-position:-235px -403px;
}
*[data-emoji~="oden"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -396px;
}
emoji[data-emoji~="oden"]{
background-position:-273px -403px;
}
*[data-emoji~="dango"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -396px;
}
emoji[data-emoji~="dango"]{
background-position:-311px -403px;
}
*[data-emoji~="egg"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -396px;
}
emoji[data-emoji~="egg"]{
background-position:-349px -403px;
}
*[data-emoji~="bread"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -396px;
}
emoji[data-emoji~="bread"]{
background-position:-387px -403px;
}
*[data-emoji~="doughnut"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -396px;
}
emoji[data-emoji~="doughnut"]{
background-position:-425px -403px;
}
*[data-emoji~="custard"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -396px;
}
emoji[data-emoji~="custard"]{
background-position:-463px -403px;
}
*[data-emoji~="icecream"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -396px;
}
emoji[data-emoji~="icecream"]{
background-position:-501px -403px;
}
*[data-emoji~="ice_cream"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -396px;
}
emoji[data-emoji~="ice_cream"]{
background-position:-539px -403px;
}
*[data-emoji~="shaved_ice"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -396px;
}
emoji[data-emoji~="shaved_ice"]{
background-position:-577px -403px;
}
*[data-emoji~="birthday"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -396px;
}
emoji[data-emoji~="birthday"]{
background-position:-615px -403px;
}
*[data-emoji~="cake"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -396px;
}
emoji[data-emoji~="cake"]{
background-position:-653px -403px;
}
*[data-emoji~="cookie"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -396px;
}
emoji[data-emoji~="cookie"]{
background-position:-691px -403px;
}
*[data-emoji~="chocolate_bar"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -396px;
}
emoji[data-emoji~="chocolate_bar"]{
background-position:-729px -403px;
}
*[data-emoji~="candy"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat 0px -432px;
}
emoji[data-emoji~="candy"]{
background-position:-7px -439px;
}
*[data-emoji~="lollipop"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -38px -432px;
}
emoji[data-emoji~="lollipop"]{
background-position:-45px -439px;
}
*[data-emoji~="honey_pot"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -76px -432px;
}
emoji[data-emoji~="honey_pot"]{
background-position:-83px -439px;
}
*[data-emoji~="apple"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -114px -432px;
}
emoji[data-emoji~="apple"]{
background-position:-121px -439px;
}
*[data-emoji~="green_apple"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -152px -432px;
}
emoji[data-emoji~="green_apple"]{
background-position:-159px -439px;
}
*[data-emoji~="tangerine"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -190px -432px;
}
emoji[data-emoji~="tangerine"]{
background-position:-197px -439px;
}
*[data-emoji~="lemon"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -228px -432px;
}
emoji[data-emoji~="lemon"]{
background-position:-235px -439px;
}
*[data-emoji~="cherries"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -266px -432px;
}
emoji[data-emoji~="cherries"]{
background-position:-273px -439px;
}
*[data-emoji~="grapes"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -304px -432px;
}
emoji[data-emoji~="grapes"]{
background-position:-311px -439px;
}
*[data-emoji~="watermelon"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -342px -432px;
}
emoji[data-emoji~="watermelon"]{
background-position:-349px -439px;
}
*[data-emoji~="strawberry"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -380px -432px;
}
emoji[data-emoji~="strawberry"]{
background-position:-387px -439px;
}
*[data-emoji~="peach"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -418px -432px;
}
emoji[data-emoji~="peach"]{
background-position:-425px -439px;
}
*[data-emoji~="melon"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -456px -432px;
}
emoji[data-emoji~="melon"]{
background-position:-463px -439px;
}
*[data-emoji~="banana"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -494px -432px;
}
emoji[data-emoji~="banana"]{
background-position:-501px -439px;
}
*[data-emoji~="pear"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -532px -432px;
}
emoji[data-emoji~="pear"]{
background-position:-539px -439px;
}
*[data-emoji~="pineapple"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -570px -432px;
}
emoji[data-emoji~="pineapple"]{
background-position:-577px -439px;
}
*[data-emoji~="sweet_potato"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -608px -432px;
}
emoji[data-emoji~="sweet_potato"]{
background-position:-615px -439px;
}
*[data-emoji~="eggplant"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -646px -432px;
}
emoji[data-emoji~="eggplant"]{
background-position:-653px -439px;
}
*[data-emoji~="tomato"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -684px -432px;
}
emoji[data-emoji~="tomato"]{
background-position:-691px -439px;
}
*[data-emoji~="corn"]{
background: rgba(0,0,0,0) url(../images/emoji/object.png) no-repeat -722px -432px;
}
emoji[data-emoji~="corn"]{
background-position:-729px -439px;
}

