*[data-emoji~="house"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat 0px 0px;
}
emoji[data-emoji~="house"]{
background-position:-7px -7px;
}
*[data-emoji~="house_with_garden"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -38px 0px;
}
emoji[data-emoji~="house_with_garden"]{
background-position:-45px -7px;
}
*[data-emoji~="school"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -76px 0px;
}
emoji[data-emoji~="school"]{
background-position:-83px -7px;
}
*[data-emoji~="office"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -114px 0px;
}
emoji[data-emoji~="office"]{
background-position:-121px -7px;
}
*[data-emoji~="post_office"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -152px 0px;
}
emoji[data-emoji~="post_office"]{
background-position:-159px -7px;
}
*[data-emoji~="hospital"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -190px 0px;
}
emoji[data-emoji~="hospital"]{
background-position:-197px -7px;
}
*[data-emoji~="bank"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -228px 0px;
}
emoji[data-emoji~="bank"]{
background-position:-235px -7px;
}
*[data-emoji~="convenience_store"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -266px 0px;
}
emoji[data-emoji~="convenience_store"]{
background-position:-273px -7px;
}
*[data-emoji~="love_hotel"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -304px 0px;
}
emoji[data-emoji~="love_hotel"]{
background-position:-311px -7px;
}
*[data-emoji~="hotel"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -342px 0px;
}
emoji[data-emoji~="hotel"]{
background-position:-349px -7px;
}
*[data-emoji~="wedding"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -380px 0px;
}
emoji[data-emoji~="wedding"]{
background-position:-387px -7px;
}
*[data-emoji~="church"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -418px 0px;
}
emoji[data-emoji~="church"]{
background-position:-425px -7px;
}
*[data-emoji~="department_store"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -456px 0px;
}
emoji[data-emoji~="department_store"]{
background-position:-463px -7px;
}
*[data-emoji~="european_post_office"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -494px 0px;
}
emoji[data-emoji~="european_post_office"]{
background-position:-501px -7px;
}
*[data-emoji~="city_sunrise"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -532px 0px;
}
emoji[data-emoji~="city_sunrise"]{
background-position:-539px -7px;
}
*[data-emoji~="city_sunset"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -570px 0px;
}
emoji[data-emoji~="city_sunset"]{
background-position:-577px -7px;
}
*[data-emoji~="japanese_castle"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -608px 0px;
}
emoji[data-emoji~="japanese_castle"]{
background-position:-615px -7px;
}
*[data-emoji~="european_castle"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -646px 0px;
}
emoji[data-emoji~="european_castle"]{
background-position:-653px -7px;
}
*[data-emoji~="tent"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -684px 0px;
}
emoji[data-emoji~="tent"]{
background-position:-691px -7px;
}
*[data-emoji~="factory"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -722px 0px;
}
emoji[data-emoji~="factory"]{
background-position:-729px -7px;
}
*[data-emoji~="tokyo_tower"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat 0px -36px;
}
emoji[data-emoji~="tokyo_tower"]{
background-position:-7px -43px;
}
*[data-emoji~="japan"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -38px -36px;
}
emoji[data-emoji~="japan"]{
background-position:-45px -43px;
}
*[data-emoji~="mount_fuji"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -76px -36px;
}
emoji[data-emoji~="mount_fuji"]{
background-position:-83px -43px;
}
*[data-emoji~="sunrise_over_mountains"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -114px -36px;
}
emoji[data-emoji~="sunrise_over_mountains"]{
background-position:-121px -43px;
}
*[data-emoji~="sunrise"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -152px -36px;
}
emoji[data-emoji~="sunrise"]{
background-position:-159px -43px;
}
*[data-emoji~="stars"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -190px -36px;
}
emoji[data-emoji~="stars"]{
background-position:-197px -43px;
}
*[data-emoji~="statue_of_liberty"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -228px -36px;
}
emoji[data-emoji~="statue_of_liberty"]{
background-position:-235px -43px;
}
*[data-emoji~="bridge_at_night"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -266px -36px;
}
emoji[data-emoji~="bridge_at_night"]{
background-position:-273px -43px;
}
*[data-emoji~="carousel_horse"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -304px -36px;
}
emoji[data-emoji~="carousel_horse"]{
background-position:-311px -43px;
}
*[data-emoji~="rainbow"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -342px -36px;
}
emoji[data-emoji~="rainbow"]{
background-position:-349px -43px;
}
*[data-emoji~="ferris_wheel"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -380px -36px;
}
emoji[data-emoji~="ferris_wheel"]{
background-position:-387px -43px;
}
*[data-emoji~="fountain"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -418px -36px;
}
emoji[data-emoji~="fountain"]{
background-position:-425px -43px;
}
*[data-emoji~="roller_coaster"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -456px -36px;
}
emoji[data-emoji~="roller_coaster"]{
background-position:-463px -43px;
}
*[data-emoji~="ship"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -494px -36px;
}
emoji[data-emoji~="ship"]{
background-position:-501px -43px;
}
*[data-emoji~="speedboat"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -532px -36px;
}
emoji[data-emoji~="speedboat"]{
background-position:-539px -43px;
}
*[data-emoji~="boat"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -570px -36px;
}
emoji[data-emoji~="boat"]{
background-position:-577px -43px;
}
*[data-emoji~="sailboat"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -608px -36px;
}
emoji[data-emoji~="sailboat"]{
background-position:-615px -43px;
}
*[data-emoji~="rowboat"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -646px -36px;
}
emoji[data-emoji~="rowboat"]{
background-position:-653px -43px;
}
*[data-emoji~="anchor"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -684px -36px;
}
emoji[data-emoji~="anchor"]{
background-position:-691px -43px;
}
*[data-emoji~="rocket"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -722px -36px;
}
emoji[data-emoji~="rocket"]{
background-position:-729px -43px;
}
*[data-emoji~="airplane"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat 0px -72px;
}
emoji[data-emoji~="airplane"]{
background-position:-7px -79px;
}
*[data-emoji~="helicopter"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -38px -72px;
}
emoji[data-emoji~="helicopter"]{
background-position:-45px -79px;
}
*[data-emoji~="steam_locomotive"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -76px -72px;
}
emoji[data-emoji~="steam_locomotive"]{
background-position:-83px -79px;
}
*[data-emoji~="tram"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -114px -72px;
}
emoji[data-emoji~="tram"]{
background-position:-121px -79px;
}
*[data-emoji~="mountain_railway"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -152px -72px;
}
emoji[data-emoji~="mountain_railway"]{
background-position:-159px -79px;
}
*[data-emoji~="bike"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -190px -72px;
}
emoji[data-emoji~="bike"]{
background-position:-197px -79px;
}
*[data-emoji~="aerial_tramway"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -228px -72px;
}
emoji[data-emoji~="aerial_tramway"]{
background-position:-235px -79px;
}
*[data-emoji~="suspension_railway"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -266px -72px;
}
emoji[data-emoji~="suspension_railway"]{
background-position:-273px -79px;
}
*[data-emoji~="mountain_cableway"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -304px -72px;
}
emoji[data-emoji~="mountain_cableway"]{
background-position:-311px -79px;
}
*[data-emoji~="tractor"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -342px -72px;
}
emoji[data-emoji~="tractor"]{
background-position:-349px -79px;
}
*[data-emoji~="blue_car"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -380px -72px;
}
emoji[data-emoji~="blue_car"]{
background-position:-387px -79px;
}
*[data-emoji~="oncoming_automobile"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -418px -72px;
}
emoji[data-emoji~="oncoming_automobile"]{
background-position:-425px -79px;
}
*[data-emoji~="car"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -456px -72px;
}
emoji[data-emoji~="car"]{
background-position:-463px -79px;
}
*[data-emoji~="red_car"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -494px -72px;
}
emoji[data-emoji~="red_car"]{
background-position:-501px -79px;
}
*[data-emoji~="taxi"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -532px -72px;
}
emoji[data-emoji~="taxi"]{
background-position:-539px -79px;
}
*[data-emoji~="oncoming_taxi"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -570px -72px;
}
emoji[data-emoji~="oncoming_taxi"]{
background-position:-577px -79px;
}
*[data-emoji~="articulated_lorry"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -608px -72px;
}
emoji[data-emoji~="articulated_lorry"]{
background-position:-615px -79px;
}
*[data-emoji~="bus"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -646px -72px;
}
emoji[data-emoji~="bus"]{
background-position:-653px -79px;
}
*[data-emoji~="oncoming_bus"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -684px -72px;
}
emoji[data-emoji~="oncoming_bus"]{
background-position:-691px -79px;
}
*[data-emoji~="rotating_light"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -722px -72px;
}
emoji[data-emoji~="rotating_light"]{
background-position:-729px -79px;
}
*[data-emoji~="police_car"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat 0px -108px;
}
emoji[data-emoji~="police_car"]{
background-position:-7px -115px;
}
*[data-emoji~="oncoming_police_car"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -38px -108px;
}
emoji[data-emoji~="oncoming_police_car"]{
background-position:-45px -115px;
}
*[data-emoji~="fire_engine"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -76px -108px;
}
emoji[data-emoji~="fire_engine"]{
background-position:-83px -115px;
}
*[data-emoji~="ambulance"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -114px -108px;
}
emoji[data-emoji~="ambulance"]{
background-position:-121px -115px;
}
*[data-emoji~="minibus"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -152px -108px;
}
emoji[data-emoji~="minibus"]{
background-position:-159px -115px;
}
*[data-emoji~="truck"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -190px -108px;
}
emoji[data-emoji~="truck"]{
background-position:-197px -115px;
}
*[data-emoji~="train"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -228px -108px;
}
emoji[data-emoji~="train"]{
background-position:-235px -115px;
}
*[data-emoji~="station"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -266px -108px;
}
emoji[data-emoji~="station"]{
background-position:-273px -115px;
}
*[data-emoji~="train2"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -304px -108px;
}
emoji[data-emoji~="train2"]{
background-position:-311px -115px;
}
*[data-emoji~="bullettrain_front"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -342px -108px;
}
emoji[data-emoji~="bullettrain_front"]{
background-position:-349px -115px;
}
*[data-emoji~="bullettrain_side"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -380px -108px;
}
emoji[data-emoji~="bullettrain_side"]{
background-position:-387px -115px;
}
*[data-emoji~="light_rail"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -418px -108px;
}
emoji[data-emoji~="light_rail"]{
background-position:-425px -115px;
}
*[data-emoji~="monorail"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -456px -108px;
}
emoji[data-emoji~="monorail"]{
background-position:-463px -115px;
}
*[data-emoji~="railway_car"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -494px -108px;
}
emoji[data-emoji~="railway_car"]{
background-position:-501px -115px;
}
*[data-emoji~="trolleybus"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -532px -108px;
}
emoji[data-emoji~="trolleybus"]{
background-position:-539px -115px;
}
*[data-emoji~="ticket"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -570px -108px;
}
emoji[data-emoji~="ticket"]{
background-position:-577px -115px;
}
*[data-emoji~="fuelpump"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -608px -108px;
}
emoji[data-emoji~="fuelpump"]{
background-position:-615px -115px;
}
*[data-emoji~="vertical_traffic_light"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -646px -108px;
}
emoji[data-emoji~="vertical_traffic_light"]{
background-position:-653px -115px;
}
*[data-emoji~="traffic_light"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -684px -108px;
}
emoji[data-emoji~="traffic_light"]{
background-position:-691px -115px;
}
*[data-emoji~="warning"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -722px -108px;
}
emoji[data-emoji~="warning"]{
background-position:-729px -115px;
}
*[data-emoji~="construction"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat 0px -144px;
}
emoji[data-emoji~="construction"]{
background-position:-7px -151px;
}
*[data-emoji~="beginner"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -38px -144px;
}
emoji[data-emoji~="beginner"]{
background-position:-45px -151px;
}
*[data-emoji~="atm"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -76px -144px;
}
emoji[data-emoji~="atm"]{
background-position:-83px -151px;
}
*[data-emoji~="slot_machine"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -114px -144px;
}
emoji[data-emoji~="slot_machine"]{
background-position:-121px -151px;
}
*[data-emoji~="busstop"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -152px -144px;
}
emoji[data-emoji~="busstop"]{
background-position:-159px -151px;
}
*[data-emoji~="barber"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -190px -144px;
}
emoji[data-emoji~="barber"]{
background-position:-197px -151px;
}
*[data-emoji~="hotsprings"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -228px -144px;
}
emoji[data-emoji~="hotsprings"]{
background-position:-235px -151px;
}
*[data-emoji~="checkered_flag"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -266px -144px;
}
emoji[data-emoji~="checkered_flag"]{
background-position:-273px -151px;
}
*[data-emoji~="crossed_flags"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -304px -144px;
}
emoji[data-emoji~="crossed_flags"]{
background-position:-311px -151px;
}
*[data-emoji~="izakaya_lantern"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -342px -144px;
}
emoji[data-emoji~="izakaya_lantern"]{
background-position:-349px -151px;
}
*[data-emoji~="moyai"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -380px -144px;
}
emoji[data-emoji~="moyai"]{
background-position:-387px -151px;
}
*[data-emoji~="circus_tent"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -418px -144px;
}
emoji[data-emoji~="circus_tent"]{
background-position:-425px -151px;
}
*[data-emoji~="performing_arts"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -456px -144px;
}
emoji[data-emoji~="performing_arts"]{
background-position:-463px -151px;
}
*[data-emoji~="round_pushpin"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -494px -144px;
}
emoji[data-emoji~="round_pushpin"]{
background-position:-501px -151px;
}
*[data-emoji~="triangular_flag_on_post"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -532px -144px;
}
emoji[data-emoji~="triangular_flag_on_post"]{
background-position:-539px -151px;
}
*[data-emoji~="jp"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -570px -144px;
}
emoji[data-emoji~="jp"]{
background-position:-577px -151px;
}
*[data-emoji~="kr"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -608px -144px;
}
emoji[data-emoji~="kr"]{
background-position:-615px -151px;
}
*[data-emoji~="cn"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -646px -144px;
}
emoji[data-emoji~="cn"]{
background-position:-653px -151px;
}
*[data-emoji~="us"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -684px -144px;
}
emoji[data-emoji~="us"]{
background-position:-691px -151px;
}
*[data-emoji~="fr"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -722px -144px;
}
emoji[data-emoji~="fr"]{
background-position:-729px -151px;
}
*[data-emoji~="es"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat 0px -180px;
}
emoji[data-emoji~="es"]{
background-position:-7px -187px;
}
*[data-emoji~="it"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -38px -180px;
}
emoji[data-emoji~="it"]{
background-position:-45px -187px;
}
*[data-emoji~="ru"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -76px -180px;
}
emoji[data-emoji~="ru"]{
background-position:-83px -187px;
}
*[data-emoji~="gb"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -114px -180px;
}
emoji[data-emoji~="gb"]{
background-position:-121px -187px;
}
*[data-emoji~="uk"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -152px -180px;
}
emoji[data-emoji~="uk"]{
background-position:-159px -187px;
}
*[data-emoji~="de"]{
background: rgba(0,0,0,0) url(../images/emoji/place.png) no-repeat -190px -180px;
}
emoji[data-emoji~="de"]{
background-position:-197px -187px;
}

