<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page content -->
<div class="container blog-content-container"> 

	<h3 th:text="${userModel.title}">waylau</h3>
	<form action="/users" th:action="@{/users}" method="POST" th:object="${userModel.user}">
		<input type="hidden" name="id" th:value="*{id}">
		名称：<br>
		<input type="text" class="form-control" name="name" th:value="*{name}">
		邮箱：<br>
		<input type="text" class="form-control" name="email" th:value="*{email}">
		<input type="submit" class="btn btn-default" value="提交">
	</form>

</div><!-- /.container -->

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>